.darkpart {
    background-image: url('footer_lodyas.png');
    background-position-x: 2px; /* Offset to match backgorund */
    height: 500px;
}

.projects {
    display: flex;
    margin: auto;
    width: 1080px;
}

.projects > .showcase {
    margin: 0;
    width: 780px;
    height: 500px;
    position: relative;
}

.showcase > article {
    background-color: black;
    width: 780px;
    position: absolute;
    top: 0;
    transition: all 1s;
    height: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}

.showcase > article:target {
    opacity: 1;
}

.projects img {
    width: 100%;
}

.projectlist {
    width: 300px;
    height: 500px;
    overflow: auto;
}

.projectlist a, .projectlist a:visited, .projectlist h1 {
    margin: 0;
    color: #fffdfd;
    text-decoration: none;
    padding: 10px;
    display: block;
    overflow: auto;
    position: relative;
}

.projectlist a:hover {
    background-color: #102b40;
}

.projects .description {
    position: absolute;
    width: 760px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    color: #fffdfd;
    padding: 10px;
}

.projectlist .type {
    position: absolute;
    right: 10px;
}